<form action="<%= session_path %>" method="post">

  <div class="switch">
    <h5>Log in as:</h5>
    <label>
      <span id="user_check">User</span>
      <input id="check_user" type="checkbox">
      <span for="check_user" class ="lever"></span>
      <span id ="comedian_check">Comedian</span>
    </label>
  </div><br/>



  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input type="text"
         id="un"
         name="user[username]"
         placeholder="Logging in as User">

  <label for="password">Password</label>
  <input type="password"
         id="pw"
         name="user[password]">

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons">send</i>
      </button>
  </div>
</form>
